* {
  box-sizing; border=box;
}

.tetareacomments{
  padding=bottom: blue;
}
.menu-item{
  display; inline-black;
  margin: 1em .2em;
  min-width: 6em;
  text-align: center;
  background-color: beige;
  paddign: 0.5em 1em;
}
.menu-item:hover {
  background-color: grey;
}
div{
  text-align: center;
  line-height: 1.45em;
  font-family: Merriweather, sans-serif;
  margin-bottom: 10px;
  padding: 5px;
}
h1, h3, h5{
  text-align: center;
  font-family: FiraSans, sansserif;
}
..opening-paragraph{
  color: black;
  font-size: 16px;
  text-indent- 10px;
  font-weight:700;

}
.secong-paragraph{
  font-size: 16px;

}
table{
  boarder: 1px dashed grey;
  font=family: FiraSans, sans-serif;
  font-weight: 700;
  padding: 10px;

}

p{
  font-family: Merriweather, sans-serif;

}
.mainimage{
  float: center;
  content:url(https://i.etsystatic.com/10037493/c/934/742/27/155/il/a1e616/2047155497/il_340x270.2047155497_tchu.jpg)
}
